<app-modify-content-component></app-modify-content-component>


    <div class="input">
        <mat-form-field appearance="fill">
            <input matInput type="text" name="title" [(ngModel)]="title">
        </mat-form-field>
        <!-- [(ngModel)]="title" -->
        <button color="primary" mat-button (click)="checkTitle()">Submit</button>
    </div>
    
    <p class="message" [style.color]="isFound ? 'green' : 'red'">
        {{ message }}
    </p>
      
    <div class="container">
    <div class="card-none">
        <h2>No Type</h2>
        <app-content-card *ngFor="let item of contentArray | filterType:''" [content]="item"></app-content-card>
    </div>
    
    <div class="card-drama">
        <h2>Drama</h2>
        <app-content-card *ngFor="let item of contentArray | filterType:'Drama'" [content]="item"></app-content-card>
    </div>
    
    <div class="card-horror">
        <h2>Horror</h2>
        <app-content-card *ngFor="let item of contentArray | filterType:'Horror'" [content]="item"></app-content-card>
    </div>
    
    <div class="card-fantasy">
        <h2>Fantasy</h2>
        <app-content-card *ngFor="let item of contentArray | filterType:'Fantasy'" [content]="item"></app-content-card>
    </div>
    
    <div class="card-comedy">
        <h2>Comedy</h2>
        <app-content-card *ngFor="let item of contentArray | filterType:'Comedy'" [content]="item"></app-content-card>
    </div>
    
    <div class="card-scifi">
        <h2>Sci-Fi</h2>
        <app-content-card *ngFor="let item of contentArray | filterType:'Sci-Fi'" [content]="item"></app-content-card>
    </div>
    
    <div class="card-thriller">
        <h2>Thriller</h2>
        <app-content-card *ngFor="let item of contentArray | filterType:'Thriller'" [content]="item"></app-content-card>
    </div>
    </div>

  
