.card{
    margin: 40px auto;
    max-width: 50%;
}

.img{
    max-width: 20%;
    display:block;
    margin: 0 auto;
    cursor:pointer;
}

.heading{
    text-align: center;
    font-size: 2em;
}

.container{
    padding: 20px;
}

.list{
    list-style-type: disc;
}