<!-- can also do is first -->
<!-- <div class="card" [style.border]="content.id === 1 ? '2px solid black' : '1px solid pink'"> -->
<div class="card">
  <h3 class="heading">{{ content.title }}</h3>
  
  <img class="img" [src]="content.imgURL" (click)="showDetails()"/>
  
  <div class="container">
    <p>Description: {{ content.description }}</p>
   
    <p>Creator: {{ content.creator }}</p>
   
    <p>Type: {{ content.type }}</p>
   
    <div>Tags: 
      <div class="list" *ngFor="let tag of content.tags">
        {{tag}}
      </div>
    </div>
  </div>
</div>