.cancel-button{
    background-color: rgb(234, 27, 99,0.6);;
    padding: 20px 20px;
    margin-bottom: 40px;
    margin-right: 5px;
}

.submit-button{
    background-color: rgb(234, 27, 99,0.6);
    padding: 20px 20px;
    margin-bottom: 40px;
    margin-left: 5px;
}

label{
    display: block;
    text-align: center;
}

.dialog{
    text-align: center;
}