h1{
    text-align: center;
    font-size: 3em;
}

div{
    margin: 0 20%;
    background-color:aliceblue;
}

.heart{
    display: block;
    margin: 0 auto;
}

.menu{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}